@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(19, 19, 19);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    font-family:  'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 10;
}

nav {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: block;
}

.nav__menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

.nav__rigth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

img {
    max-width: 100%;
    height: 30px;
    border: 0;
    vertical-align: middle;
}

.nav__logo {
    max-height: 30px;
}

.nav__list {
    list-style-type: none;
    display: inline-flex;
    gap: 35px;
    flex-wrap: nowrap;
}

.nav__item {
    overflow: hidden;
}

.nav__link {
    position: relative;

}

.nav__link::after {
    content: '';
    position: absolute;
    left: -130%;
    bottom: 0;
    width: 100%;
    height: 2px;    
    background: gray;
    transition: .3s;
}

.nav__item:hover .nav__link::after {
    left: 0;
}

.nav__item:hover .nav__link {
     color: #222;
}

.nav__btn {
    margin-left: 5px;
}

.nav__btn-link{
    min-width: 150px;
    padding: .7em 2.1em;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    line-height: 1.5em;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #666;
}

.nav__btn {
    border: 1px solid #eaeaea;
    border-radius: 1.6em;
    box-shadow: 0px 0px 1px #777;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s ease;
}

.nav__btn:hover {
    box-shadow: 1px 1px 4px #ddd;
}

.menu__icon {
    height: 40px;
    width: 40px;
    background: #fff;
    font-size: 22px;
    border-radius: 8px;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* header-title */

.header-title {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    height: 70px;
}

/* ----------- Main -------- */

main {
    margin: 70px 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(4,1fr);    
    grid-template-rows: repeat(20,100px);
}

.tb {
    height: auto;
    position: relative;
    overflow: hidden;
}

.tb-top3 {
    top: 300px;
}

.tb-bg {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .7s ease;
}

.tb-height6 {
    height: 600px;
}

.tb-height7 {
    height: 700px;
}

.tb-height4 {
    height: 400px;
}

.tb-height3 {
    height: 300px;
}

.tb-top3 {
    position: relative;
    top: -400px;
}

.main .tb:nth-child(1) {
    grid-row: 1 / 7;
}

.main .tb:nth-child(2) {
    grid-row: 1 / 8;
}

.main .tb:nth-child(3) {
    grid-row: 1 / 5;
}

.main .tb:nth-child(4) {
    grid-row: 1 / 4;
}

.main .tb:nth-child(5) {
    grid-row: 7 / 11;
}

.main .tb:nth-child(6) {
    grid-row: 8 / 11;
}

.main .tb:nth-child(7) {
    grid-row: 5 / 11;
}

.main .tb:nth-child(8) {
    grid-row: 4 / 11;
}

.main .tb:nth-child(9) {
    grid-row: 11 / 17;
}

.main .tb:nth-child(10) {
    grid-row: 11 / 18;
}

.main .tb:nth-child(11) {
    grid-row: 11 / 15;
}

.main .tb:nth-child(12) {
    grid-row: 11 / 14;
}

.main .tb:nth-child(13) {
    grid-row: 17 / 21;
}

.main .tb:nth-child(14) {
    grid-row: 18 / 21;
}

.main .tb:nth-child(15) {
    grid-row: 15 / 21;
}

.main .tb:nth-child(16) {
    grid-row: 14 / 21;
}

/* ======= footer ======= */
footer {
    height: 70px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.info {
    color: #666;
    font-size: 11px;
}

.social {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.social a {
    margin-left: 12px;
}

.social i:hover {
    color: #000;
}

/* scroll-up */
.scroll-up {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 20px;
    height: 36px;
    width: 36px;
    background: #ddd;
    color: #666;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgb(17, 17, 18 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.scroll-up i{
    font-size: 20px;
    font-weight: 900;
    padding: 0 0 2px;
}

.scroll-up:hover {
    color: #222;
    box-shadow: 0px 1px 2px rgb(255, 205, 205);
}

.zoom:hover {
    transform: scale(1.2);
}

/* --- media --- */
@media screen and (max-width: 970px) {
    .main {
        grid-template-columns: 1fr 1fr;
    }

    header .nav__list {
        display: none;
    }

    .menu__icon {
        display: inline-flex;
    }

    .nav__btn {
        font-weight: 400;
    }

    nav {
        padding: 0 20px;
    }
    
    .nav__list.active {
        display: block;
        position: absolute;
        top: 99%;
        width: 100%;
        height: max-content;
        background: #fff;
        padding: 10px;
        transition: 2s;
    }

    .nav__list.active .nav__item {
        padding: 8px;
    }

    .nav__list.active .nav__item:hover {
        background-color: #eee;
    }

    .menu__btn {
        background-color: #fff;
        padding: 5px;
        border: none;
        font-size: 20px;
    }

    .menu-close {
        display: none;
    }
}

@media screen and (max-width:320px) {
    .main {
        grid-template-columns: 1fr;
    }
}
